<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PizzaZone"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Onboarding1Activity" />
        <activity android:name=".Onboarding2Activity" />
        <activity android:name=".Onboarding3Activity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ForgotPasswordScreenActivity"/>
        <activity android:name=".ListScreenActivity" />
        <activity android:name=".DetailsScreenActivity"/>
        <activity android:name=".CheckoutScreenActivity" />
        <activity android:name=".OrderConfirmActivity" />
        <activity android:name=".AdminHomeScreenActivity" />
        <activity android:name=".AdminAddProductActivity"/>
        <activity android:name=".AdminDeleteAndUpdateActivity"/>
        <activity android:name=".AdminViewProductActivity"/>
        <activity android:name=".OderInfoActivity" />
        <activity android:name=".AdminOrderHistoryActivity" />
        <activity android:name=".HomeScreenActivity"
            android:exported="true" />

    </application>

</manifest>
